<div style="padding-top:100px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <img src="../assets/images/products/Product_1.jpeg" class="img-fluid mx-auto d-block" alt="img1">
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="../assets/images/products/Product_2.jpeg" class="img-fluid mx-auto d-block" alt="img2">
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="../assets/images/products/Product_3.jpeg" class="img-fluid mx-auto d-block" alt="img3">
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <img src="../assets/images/products/Product_4.jpeg" class="img-fluid mx-auto d-block" alt="img4">
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <img src="../assets/images/products/Product_5.jpeg" class="img-fluid mx-auto d-block" alt="img5">
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="../assets/images/products/Product_6.jpeg" class="img-fluid mx-auto d-block" alt="img6">
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="../assets/images/products/Product_7.jpeg" class="img-fluid mx-auto d-block" alt="img7">
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="../assets/images/products/Product_8.jpeg" class="img-fluid mx-auto d-block" alt="img8">
      </div>
    </div>
  </div>
</div>